# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

#IDE
.idea/
.vscode

#packages
package-lock.json

#coverage report
coverage

#public bundles 
public/main.min.js
public/css/styles.min.css